h1 {
    color:rgb(0, 0, 0);
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 60px;
    background-image: element();
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
h2 {
    color:rgb(0, 0, 0);
    font-family: "Alumni Sans SC", sans-serif;
    font-size:24px;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    font-style:italic;
    font-size: 24px;
    font-family: "Alumni Sans SC", sans-serif;
    text-align: center;
    padding:auto;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;

}
.card{ 
    color: rgb(255, 255, 255);
    text-align: center;
}
.Header{
    background-color: rgb(255, 255, 255);
    background-size: auto;
    display: block;
    margin: auto;
    
}

.Picture{
    display: block;
    margin: auto;
    border-image-width: auto;
    border: 2px solid black;
}
.body{
    background-image: url(Leaf.jpeg)
}